h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: $header-font-weight;
    font-size: 1rem;
    line-height: 2;
    margin-top: 1.5em;
    margin-bottom: $padding-16;

    a.anchor {
      opacity: 0;
      font-size: 0.75em;
      vertical-align: middle;
      text-decoration: none;
    }

    &:hover a.anchor,
    a.anchor:focus {
      opacity: initial;
    }
  }


h2 {
  text-indent: 2%;
}


h3{
    font-style: italic;
    font-size: .9rem;
    text-indent: 4%;
  }
  
h4 {
    font-style: italic;
    font-size: 0.8em;
    margin-left: 20px;
  }

h5 {
    font-style: italic;
    font-size: 0.7em;
  }

h6 {
    font-style: italic;
    font-size: 0.6em;
  }




.font_upper {
  text-transform: uppercase;
  font-size: 1rem;
}


.aligncenter {
    text-align: center;
}

u.red{
  border-bottom:1px solid red;
}