// paragraph bulletin indent ///////////////////////////////////////////////////////////////////////

ul,
ol {
    padding-inline-start: $padding-16 * 2;
    word-wrap: break-word;
  }

dl {
    dt {
      font-weight: bolder;
      margin-top: $padding-16;
    }

    dd {
      margin-inline-start: 0;
      margin-bottom: $padding-16;
    }
  }

ol,li {
    margin: 0;
    padding: 0;
}

ol {
    counter-reset: foo;
    display: table;
}

ol > li {
    counter-increment: foo;
    display: table-row;
}

ol > li::before {
    content: counter(foo) ")";
    display: table-cell; /* aha! */
    text-align: right;
}

  
ul {
  list-style-position: outside;
}  

ul,li {
    margin: 0;
    padding: 0;
}

ul,
ol {
    //padding-inline-start: $padding-16 * 2;
  }
  
//end **********************************************************************************************/