// highlight options *//////////////////////////////////////////////////////////////////////////////
mark.black {
  background-color: black;
  color: white;
}

mark.grey {
  background-color: #dcdcdc;
}

mark.lemon {
  background-color: #fffacd;
}
/* the end *****************************************************************************************