html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  min-width: $body-min-width;
  color: var(--body-font-color);
  background: var(--body-background);

  letter-spacing: 0.33px;
  font-weight: $body-font-weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
  
  
}



h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: $header-font-weight;
    font-size: 1rem;
    line-height: 2;
    margin-top: 1.5em;
    margin-bottom: $padding-16;

    a.anchor {
      opacity: 0;
      font-size: 0.75em;
      vertical-align: middle;
      text-decoration: none;
    }

    &:hover a.anchor,
    a.anchor:focus {
      opacity: initial;
    }
  }


h2 {
  text-indent: 2%;
}


h3{
    font-style: italic;
    font-size: .9rem;
    text-indent: 4%;
  }
  
h4 {
    font-style: italic;
    font-size: 0.8em;
    margin-left: 20px;
  }

h5 {
    font-style: italic;
    font-size: 0.7em;
  }

h6 {
    font-style: italic;
    font-size: 0.6em;
  }
  


a {
  text-decoration: none;
  color: var(--color-link);
}

img {
  vertical-align: baseline;
}

:focus {
  @include outline;
}

aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: 1em 0;
    position: relative;
  }

  a {
    display: block;
  }

  a:hover {
    opacity: 0.5;
  }

  ul {
    padding-inline-start: $padding-16;
  }
}

ul.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0px;

  .page-item a {
    padding: $padding-16;
  }
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

.book-icon {
  filter: var(--icon-filter);
}

.book-brand {
  margin-top: 0;
  margin-bottom: $padding-16;

  img {
    height: 1.5em;
    width: 1.5em;
    margin-inline-end: $padding-8;
  }
}

.book-menu {
  flex: 0 0 $menu-width;
  font-size: $font-size-14;

  .book-menu-content {
    width: $menu-width;
    padding: $padding-16;
    background: var(--body-background);

    @include fixed;
  }

  a,
  label {
    color: inherit;
    cursor: pointer;
    word-wrap: break-word;
  }

  a.active {
    color: var(--color-link);
  }

  input.toggle + label + ul {
    display: none;
  }

  input.toggle:checked + label + ul {
    display: block;
  }

  input.toggle + label::after {
    content: "▸";
  }

  input.toggle:checked + label::after {
    content: "▾";
  }
}

// for RTL support
body[dir="rtl"] .book-menu {
  input.toggle + label::after {
    content: "◂";
  }

  input.toggle:checked + label::after {
    content: "▾";
  }
}

.book-section-flat {
  margin: $padding-16 * 2 0;

  > a,
  > span,
  > label {
    font-weight: bolder;
  }

  > ul {
    padding-inline-start: 0;
  }
}

.book-page {
  min-width: $body-min-width;
  flex-grow: 1;
  padding: $padding-16;
}

.book-post {
  margin-bottom: $padding-16 * 3;
}

.book-header {
  display: none;
  margin-bottom: $padding-16;

  label {
    line-height: 0;
  }

  img.book-icon {
    height: 1.5em;
    width: 1.5em;
  }
}

.book-search {
  position: relative;
  margin: $padding-16 0;
  border-bottom: 1px solid transparent;

  input {
    width: 100%;
    padding: $padding-8;

    border: 0;
    border-radius: $border-radius;

    background: var(--gray-100); /*gray-100*/
    color: var(--body-font-color);

    &:required + .book-search-spinner {
      display: block;
    }
  }

  .book-search-spinner {
    position: absolute;
    top: 0;
    margin: $padding-8;
    margin-inline-start: calc(100% - #{$padding-16 + $padding-8});

    width: $padding-16;
    height: $padding-16;

    border: $padding-1 solid transparent;
    border-top-color: var(--body-font-color);
    border-radius: 50%;

    @include spin(1s);
  }

  small {
    opacity: 0.5;
  }
}

.book-toc {
  flex: 0 0 $toc-width;
  font-size: $font-size-12;

  .book-toc-content {
    width: $toc-width;
    padding: $padding-16;

    @include fixed;
  }

  img {
    height: 1em;
    width: 1em;
  }

  nav > ul > li:first-child {
    margin-top: 0;
  }
}

.book-footer {
  padding-top: $padding-16;
  font-size: $font-size-14;

  img {
    height: 1em;
    width: 1em;
    margin-inline-end: $padding-8;
  }
}

.book-comments {
  margin-top: $padding-16;
}

.book-languages {
  margin-block-end: $padding-16 * 2;

  .book-icon {
    height: 1em;
    width: 1em;
    margin-inline-end: .5em;
  }

  ul {
    padding-inline-start: 1.5em;
  }
}

// Responsive styles
.book-menu-content,
.book-toc-content,
.book-page,
.book-header aside,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin, opacity, visibility;
  will-change: transform, margin, opacity;
}

@media screen and (max-width: $mobile-breakpoint) {
  #menu-control,
  #toc-control {
    display: inline;
  }

  .book-menu {
    visibility: hidden;
    margin-inline-start: -$menu-width;
    font-size: $font-size-base;
    z-index: 1;
  }

  .book-toc {
    display: none;
  }

  .book-header {
    display: block;
  }

  #menu-control:focus ~ main label[for="menu-control"] {
    @include outline;
  }

  #menu-control:checked ~ main {
    .book-menu {
      visibility: initial;
    }

    .book-menu .book-menu-content {
      transform: translateX($menu-width);
      box-shadow: 0 0 $padding-8 rgba(0, 0, 0, 0.1);
    }

    .book-page {
      opacity: 0.25;
    }

    .book-menu-overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  #toc-control:focus ~ main label[for="toc-control"] {
    @include outline;
  }

  #toc-control:checked ~ main {
    .book-header aside {
      display: block;
    }
  }

  // for RTL support
  body[dir="rtl"] #menu-control:checked ~ main {
    .book-menu .book-menu-content {
      transform: translateX(-$menu-width);
    }
  }
}



  b,
  optgroup,
  strong {
    font-weight: bolder;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: var(--color-visited-link);
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  code {
    padding: 0 $padding-4;
    background: var(--gray-200);
    border-radius: $border-radius;
    font-size: 0.875em;
  }

  pre {
    padding: $padding-16;
    background: var(--gray-100);
    border-radius: $border-radius;
    overflow-x: auto;

    code {
      padding: 0;
      background: none;
    }
  }

  p {
    word-wrap:break-word;
  }

  blockquote {
    margin: $padding-16 0;
    padding: $padding-8 $padding-16 $padding-8 ($padding-16 - $padding-4); //to keep total left space 16dp

    border-inline-start: $padding-4 solid var(--gray-200);
    border-radius: $border-radius;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }

  table {
    overflow: auto;
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: $padding-16;
    margin-bottom: $padding-16;

    tr th,
    tr td {
      padding: $padding-8 $padding-16;
      border: $padding-1 solid var(--gray-200);
    }

    tr:nth-child(2n) {
      background: var(--gray-100);
    }
  }

  hr {
    height: $padding-1;
    border: none;
    background: var(--gray-200);
  }

  ul,
  ol {
    padding-inline-start: $padding-16 * 2;
  }

  dl {
    dt {
      font-weight: bolder;
      margin-top: $padding-16;
    }

    dd {
      margin-inline-start: 0;
      margin-bottom: $padding-16;
    }
  }

  // Special case for highlighted code with line numbers
  .highlight table tr {
    td:nth-child(1) pre {
      margin: 0;
      padding-inline-end: 0;
    }
    td:nth-child(2) pre {
      margin: 0;
      padding-inline-start: 0;
    }
  }

  details {
    padding: $padding-16;
    border: $padding-1 solid var(--gray-200);
    border-radius: $border-radius;

    summary {
      line-height: 1;
      padding: $padding-16;
      margin: -$padding-16;
      cursor: pointer;
    }

    &[open] summary {
      margin-bottom: 0;
    }
  }

  figure {
    margin: $padding-16 0;
    figcaption p {
      margin-top: 0;
    }
  }



// side-by-side ////////////////////////////////////////////////////////////////////////////////////
* {
  box-sizing: border-box;
}

.row {
  margin-left:5px;
  margin-right:-5px;
  
}
  
.column_left {
  float: left;
  padding: 20px; /* space between two tables*/
}

.column_right {
  float: right;
  padding: 20px; /* space between two tables*/

}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* the end *****************************************************************************************


// two-column table *///////////////////////////////////////////////////////////////////////////////
div {
  float: left;
  padding: 10 10px;
   }
      
#column1 {
  padding: 20px;
  width: 50%;
  }
      
#column2 {
  padding: 20px;
  width: 50%;
  }

// the end *****************************************************************************************

// figure decoration *//////////////////////////////////////////////////////////////////////////////
figure {
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
  display: table;
}

figcaption.top {
  display: table-caption;
  caption-side: top;
}

figcaption.bottom {
  display: table-caption;
  caption-side: bottom;
}
/* the end *****************************************************************************************


// Tooltip *////////////////////////////////////////////////////////////////////////////////////////

.hovertip {
  position: relative;
  border-bottom: 1px dotted black;
  
}

.hovertip:before {
  content: attr(tooltip_text);
  visibility: hidden;
  
  overflow-y: inherit; /*new*/
  
  /*word-wrap: break-word;*/

  width: max-content;
  max-width: 250px;
  background-color: #f1e4ff;
  color: black;
  text-align: left;
  border-radius: 5px;
  /* top, right, bottom, left*/
  padding: 10px 20px 10px 20px;
  margin-left: 50px;
  /* fade-in*/
  opacity: 0;  
  transition: opacity 1s ease-in-out;

  /* top tooltip*/
  position: absolute; /*let tooltip wrap instead of overflow*/
  z-index: 1;
  left: 50%; /*auto;*/
  bottom: 110%; /*auto;*/
  margin-left: -60px;
}

.hovertip.hovertiptext::before {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.hovertip:hover:before {
  opacity: 1;
  visibility: visible;
}
/* the end *****************************************************************************************





// set the figure caption with the same wide of figure */////////////////////////////////////////////
.caption_display {
   display: inline-block;
}
/* the end *****************************************************************************************



// color style of hyperlink *///////////////////////////////////////////////////////////////////////
a:link {
  color: darkred;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
/* the end *****************************************************************************************



// quoting with background *////////////////////////////////////////////////////////////////////////
.quote {
  margin: 0;
  background: #eee;
  padding: 0.5em;
  border-radius: 1em;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}
/* the end *****************************************************************************************



.font_upper {
  text-transform: uppercase;
  font-size: 1rem;
}

// highlight options *//////////////////////////////////////////////////////////////////////////////
mark.black {
  background-color: black;
  color: white;
}

mark.grey {
  background-color: #dcdcdc;
}

mark.lemon {
  background-color: #fffacd;
}
/* the end *****************************************************************************************


.aligncenter {
    text-align: center;
}

u.red{
  border-bottom:1px solid red;
}



//below is tab css *////////////////////////////////////////////////////////////////////////////////
// a script for tables is also needed

/* Style the tab */
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  /*background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #f1e4ff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin-left:0.3em;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #e4e5ff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffe4ff;
  color: #fff;
  background-color: #2b8cc4;  
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border-top: none;
}
//end **********************************************************************************************




//below is the tufte style *////////////////////////////////////////////////////////////////////////

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -55%; /* adjust where the sidenote starts*/
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}


.sidenote-number:after,
.sidenote:before {
    /*content: counter(sidenote-counter) " ";*/
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
}


.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}


.sidenote:before {
    content: counter(sidenote-counter) " ";
    top: -0.5rem;
}


label.sidenote-number {
    display: inline-block; /*inline*/
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

@media (max-width: 760px) {
    body {
        width: 84%;
        padding-left: 8%;
        padding-right: 8%;
    }
  
    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }
    
    .sidenote,
    .marginnote {
        display: inline;
    }
    
    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }
    
    label {
        cursor: pointer;
    }
 }
 
//* end ********************************************************************************************
 
 
 
 
//* scroll to top //////////////////////////////////////////////////////////////////////////////////
//* this is the pure css solution, no javascript is involved
.scroll-container {
      position: absolute;
      top: 0;
      right:0;
      height: 100%;
    }

    // to hide the button when page first loaded
.scroll-container:before {
      content: '';
      display: block;
      height: 100vh;
      pointer-events: none;
    }

    // fixed to right bottom of page
.scroll-container a {
      position: sticky;
      top: 88vh;
      cursor: pointer;
      font-size: 20px;
    }

html {
  scroll-behavior: smooth;
}
// end *********************************************************************************************




// paragraph bulletin indent ///////////////////////////////////////////////////////////////////////

ol,li {
    margin: 0;
    padding: 0;
}

ol {
    counter-reset: foo;
    display: table;
}

ol > li {
    counter-increment: foo;
    display: table-row;
}

ol > li::before {
    content: counter(foo) ")";
    display: table-cell; /* aha! */
    text-align: right;
}

  
ul {
  list-style-position: outside;
}  

ul,li {
    margin: 0;
    padding: 0;
}

ul,
ol {
    //padding-inline-start: $padding-16 * 2;
  }
  
//end **********************************************************************************************/



// spaced overline ////////////////////////////////////////////////////////////////////////////////
/*.overline {
  padding-top: 25px;
  border-top-style: solid;
  border-top-width: 5px;
  width: fit-content;
  border-top-color: orange;
  }
  

h1:before {
  content:' ';
  display:block;
  padding-top: 25px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: lightgrey;
}

/* the end *****************************************************************************************




// table of content *///////////////////////////////////////////////////////////////////////////////
#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

/* the end *****************************************************************************************




// Create A Collapsible *///////////////////////////////////////////////////////////////////////////

// need to add java script 
 
// Style the button that is used to open and close the collapsible content
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

// Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover)
.active, .collapsible:hover {
  background-color: #ccc;
}

// Style the collapsible content. Note: hidden by default
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: max-height 0.2s ease-out;
} 

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2716"; /* Unicode character for "Heavy multiplication X" sign (X) */
}

// end *********************************************************************************************


 
// Extra space for big screens *////////////////////////////////////////////////////////////////////

@media screen and (min-width: $container-max-width) {
  .book-page,
  .book-menu .book-menu-content,
  .book-toc .book-toc-content {
    padding: $padding-16 * 2 $padding-16;
  }
}
