// quoting with background *////////////////////////////////////////////////////////////////////////
.quote {
  margin: 0;
  background: ##0A7E8C;
  padding: 0.5em;
  border-radius: 1em;
  font-style: italic;
  color: white;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}
//* the end *****************************************************************************************
