//* scroll to top //////////////////////////////////////////////////////////////////////////////////
//* this is the pure css solution, no javascript is involved
.scroll-container {
      position: absolute;
      top: 0;
      right:0;
      height: 100%;
    }

    // to hide the button when page first loaded
.scroll-container:before {
      content: '';
      display: block;
      height: 100vh;
      pointer-events: none;
    }

    // fixed to right bottom of page
.scroll-container a {
      position: sticky;
      top: 88vh;
      cursor: pointer;
      font-size: 20px;
    }

html {
  scroll-behavior: smooth;
}
// end *********************************************************************************************