/* table */

table{
  width: 100%;

  border-collapse: collapse; /* single border of table*/
  border-spacing:0;
  /*border: 1px solid #ddd;*/
}

th, td{
  padding: 10px 20px; /*row height*/
  border-collapse: collapse; /* single line of inside*/
  border: 1px solid #ddd;
}

th{
  background-color: lightblue; /*add background color to the header*/
  border-bottom: double;
}

tr:nth-child(even){
  back-ground-color: #f2f2f2; /*zebra strip*/
}

/* end */