// two-column table *///////////////////////////////////////////////////////////////////////////////
#column1 {
  float: left;
  padding: 20px;
  width: 50%;
  /*background-color: #a1edcc;*/
}

#column2 {
  float: right;
  padding: 20px;
  width: 50%;
  /*background-color: #a0e9ed;*/

}      


// the end *****************************************************************************************